<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit-email" method="post">
        <input type="text" placeholder="Enter subject" name="subject"/><br><br>
        <textarea type="text" placeholder="Enter mail" name="mail" ></textarea>
        <br><br>
        <button>Send Mail</button>
    </form>

</body>
</html>